body {
    /* background-color: rgba(230, 230, 230); */
    background-color: rgb(170, 170, 170);
    font-family: 'Roboto', sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Modak", cursive;
    color: white;
    text-shadow:
        -1px -1px 0 rgb(90, 90, 90),  
        1px -1px 0 rgb(90, 90, 90),
        -1px 1px 0 rgb(90, 90, 90),
        1px 1px 0 rgb(90, 90, 90);
    font-size: 80px;
    margin: 30px;
}

.game-view-container {
    position: relative;
}

#game-canvas {
    position: absolute;
    left: 50%;
    margin-left: -450px;
}

.game-menu {
    position: absolute;
    left: 50%;
    margin-left: -450px;
    z-index: 0;
    height: 550px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(96, 165, 53);
    /* background-color: rgb(126,200,80); */
    transition: opacity 1.5s;
}

.game-menu.hide {
    opacity: 0;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 700px;
    margin-top: 80px;
}


.menu-content > h2 {
    font-family: "Modak", cursive;
    text-shadow:
        -1px -1px 0 rgb(90, 90, 90),  
        1px -1px 0 rgb(90, 90, 90),
        -1px 1px 0 rgb(90, 90, 90),
        1px 1px 0 rgb(90, 90, 90);
    text-align: center;
    font-size: 70px;
    color: white;
}

.menu-content > p {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    line-height: 1.25;
}

.start-button {
    background-color: white;
    padding: 15px 40px;
    border-radius: 8px;
    margin: 15px;
}