body {
    background-color: rgba(230, 230, 230);
    font-family: 'Roboto', sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Modak", cursive;
    color: white;
    text-shadow:
        -1px -1px 0 rgb(90, 90, 90),  
        1px -1px 0 rgb(90, 90, 90),
        -1px 1px 0 rgb(90, 90, 90),
        1px 1px 0 rgb(90, 90, 90);
    font-size: 80px;
    margin: 30px;
}

.game-view-container {
    position: relative;
}

#game-canvas {
    position: absolute;
    left: 50%;
    margin-left: -450px;
}

.game-menu {
    position: absolute;
    left: 50%;
    margin-left: -450px;
    z-index: 0;
    height: 550px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(149, 223, 114);
}

.title-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 700px;
}


.title-card > h2 {
    text-align: center;
    font-size: 40px;
    color: white;
}

.start-button {
    background-color: white;
    padding: 15px 40px;
    border-radius: 8px;
    margin: 15px;
}

.hide {
    opacity: 0;
    display: none;
}

.show {
    opacity: 1;
    display: flex;
}