body {
    background-color: rgba(230, 230, 230);
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Modak", cursive;
    color: white;
    text-shadow:
        -1px -1px 0 rgb(90, 90, 90),  
        1px -1px 0 rgb(90, 90, 90),
        -1px 1px 0 rgb(90, 90, 90),
        1px 1px 0 rgb(90, 90, 90);
    font-size: 80px;
    margin: 30px;
}